@CHARSET "UTF-8";

.portlet-content.widget-frame .widget-list-view {
	padding: 8px;
}

/*
.portlet-content.widget-frame .widget-list-view .filemanager-file-icon {
	border-radius: 5px;
	width: 120px;
}

.portlet-content.widget-frame .widget-list-view .filemanager-file-icon:hover {
    background-color: rgba(192, 208, 220, 0.125);
}

.portlet-content.widget-frame .widget-list-view .filemanager-file-icon {
    text-overflow:ellipsis;
}

.portlet-content.widget-frame .widget-list-view .filemanager-file-icon .widget-label {
	text-overflow: ellipsis;
    white-space: nowrap;
}
*/

.portlet-content.widget-frame .filemanager-side-panel-container {
    box-shadow: -7px 0 2px -6px rgba(0, 0, 0, 0.25) inset;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,.025), rgba(0,0,0,0));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.025), rgba(0,0,0,0));
    background-image: linear-gradient(to bottom, rgba(0,0,0,.025), rgba(0,0,0,0));
}

.filemanager-side-panel {
	min-height: 150px;
	overflow-y: auto;
	overflow-x: hidden; 
}

.portlet-content.widget-frame .filemanager-side-panel-container:hover {
	box-shadow: -8px 0 0px -6px rgba(0, 0, 0, 0.25) inset;
}

.portlet-content.widget-frame .widget-toolbar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}


.ui-dialog {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.portlet-content.widget-frame .widget-filepicker-add {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    color: inherit !important;
    font-weight: inherit !important;
}


.portlet-content.widget-frame .actions-edit-find.widget-lineedit {
	border: 1px solid #ddd;
}

.portlet-content.widget-frame .filemanager-file > span {
	padding-right: 24px;
}


.filemanager-file-properties {
	padding: 1em;
	margin-top: 1em;
	border-top: 1px solid #ddd;
	background-image: linear-gradient(to bottom, rgba(0,0,0,.025), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.025), rgba(0,0,0,0));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.025), rgba(0,0,0,0));
}

.widget-popup-menu {
	padding: 3px;
	border-radius: 4px;
}

.filemanager-search {
	float: right;
}

.filemanager-search input[type=text] {
    border-radius: 16px;
    opacity: 0.5;
}
.filemanager-search input[type=text]:focus {
    opacity: 1;
}

.filemanager-droppable-accepting {
	background-color: rgba(192, 208, 220, 0.5);
}

.filemanager-droppable-hovered {
    background-color: rgba(192, 208, 220, 0.5);
    box-shadow: 0 0 0 2px #789;
}

.filemanager-file-icon:hover {
	background-color: rgba(0,0,0,0.025);
}

.filemanager-search .widget-submitbutton {
	display: none;
}

.widget-imagethumbnail {
	background-color: #fff;
}

.filemanager-searchresults {
	padding: 8px;
	display: block;
	border-radius: 6px;
	background: #cde;	
}


.filemanager-empty-folder {
    padding: 16px 8px;
    display: block;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.0125);
    text-align: center;
    color: rgba(0,0,0,0.5);   
}

.filemanager-locationbar-item:before {
	position: relative;
	top: 2px;
    content: '\203A';
    color: rgba(0,0,0,0.25);
}
.filemanager-locationbar-item:last-child {
	font-weight: bold;
}

.filemanager-icon {
    width: 12em;
    overflow: hidden;
}

  
.widget-actions-target {
	position: relative;
}
html .widget-actions-target .widget-actions {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	z-index: 1;
}

/* UPLOAD STATUS BOX */
.uploadStatusBox{
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 25%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	z-index: 1;
}

.uploadStatusBox .uploadStatusTitleBox{
	background-color: #212121;
	color: white;
	padding: 10px;
	border-radius: 2px;
}

.uploadStatusBox .uploadStatusTitleBox .uploadStatusClean,
.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadedFileImportStatus .uploadedFileClean{
	cursor: pointer;
}

.uploadStatusBox .uploadStatusContent{
	background-color: white;
	padding: 0 10px;
	border: 1px solid #ECECEC;
}

.uploadStatusBox .uploadStatusContent .uploadedEntries,
.uploadStatusBox .uploadStatusContent .uploadedInfos,
.uploadStatusBox .uploadStatusContent .uploadedActions{
	display: block;
}

.uploadStatusBox .uploadStatusContent .uploadedActions .uploadedAction a.widget-link{
	color: #3c8dbc !important;
}
.uploadStatusBox .uploadStatusContent .uploadedActions .uploadedAction a.widget-link:hover{
 	color: #196490 !important;
}

.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadDot{
	width: 14px;
	height: 14px;
	border-radius: 100%;
	line-height: 14px;
	margin-right: 5px;
}

.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadDot.uploadSuccess,
.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadDot.uploadVersioned{
	background-color: #64dd17;
}

.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadDot.uploadPending{
	background-color: #ffc400;
}

.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadDot.uploadError,
.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadDot.uploadCanceled,
.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadDot.uploadUnknown{
	background-color: #d32f2f;
}

.uploadStatusBox .uploadStatusContent .uploadedEntry{
	padding: 10px 0;
}

.uploadStatusBox .uploadStatusContent .uploadSeparator{
	border-bottom: 1px solid #ECECEC;
}

.uploadStatusBox .uploadStatusTitleBox .uploadStatusTitle,
.uploadStatusBox .uploadStatusTitleBox .uploadStatusClean,
.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadedFileName,
.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadedFileImportStatus{
	width: 50%;
	display: inline-block;
}
.uploadStatusBox .uploadStatusTitleBox .uploadStatusClean,
.uploadStatusBox .uploadStatusContent .uploadedInfos .uploadedFileImportStatus{
	text-align: right;
}

.uploadStatusBox .uploadedActions ul{
	list-style-type: none;
	padding: 0;
}

/*Tags*/
.tagBadge{
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	background-color: #777777;
	border-radius: 10px;
}